<!-- <div class="header" color="">
  Welcome to Employee Portal!
</div>

<div *ngIf="!this.signer" class="connect-button">
  <label>You have not connected!</label>
</div>
<div *ngIf="this.signer" class="connect-button">
  <label>You have connected!</label>
  <br/>
</div> -->

<!--<div class="employee">-->
<!--  Employee Details = {{this.employerDetails}}-->
<!--</div>-->

<div *ngIf="!isEmployeeRegistered" class="forms pt-4">
    <div class="jumbotron jumbotron-fluid  text-center">
        <div class="container">
            <h1 class="display-4">Employee Registration</h1>
            <p class="lead">Please enter your details as a employee.</p>
        </div>
    </div>
    <div class="align-items-center shadow align-content-center p-4">

        <form [formGroup]="EmployeeForm" class="d-flex form-group justify-content-center
    align-items-center shadow">
            <div class="addEmployee">
                <!--      Employee Details-->
                <label for="employeePublicKey">Employee Public Key</label>
                <input id="employeePublicKey" type="text" formControlName="EmployeePublicKey" class="m-2">
                <br />
                <label for="employeeId">Employee SSN</label>
                <input id="employeeId" type="number" formControlName="EmployeeId" class="m-2">
                <br />
                <label for="employeeName">Employee Name</label>
                <input id="employeeName" type="text" formControlName="EmployeeName" class="m-2">
                <br />
                <label for="employeeAddress">Employee Address</label>
                <input id="employeeAddress" type="text" formControlName="EmployeeAddress" class="m-2">
                <br />
                <label for="employeePhone">Employee Phone Number</label>
                <input id="employeePhone" type="text" formControlName="EmployeePhone" class="m-2">
                <br />
                <div class="d-flex form-group justify-content-center align-items-center">
                    <button class="button rounded-pill btn btn-primary mb-2" mat-raised-button (click)="openDialogEmployeeRegistration()">
            Submit
          </button>

                    <!-- <button class="button rounded-pill btn btn-primary mb-2" type="submit">Submit</button> -->
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<div *ngIf="isEmployeeRegistered" class="p-4">

    <div class="jumbotron jumbotron-fluid  text-center">
        <div class="container">
            <h1 class="display-4">Employee Profile</h1>
            <p class="lead">Dashboard</p>
        </div>
    </div>
    <div class="align-items-center shadow align-content-center p-4">

        <label>Welcome, {{employee._name}}</label>
        <br />
        <label>Your public key : {{employee._publicKey}}</label>
        <br />
        <label>Your unique ID : {{employee._id}}</label>
        <br />
        <label>Your name: {{employee._name}}</label>
        <br />
        <label>Your address : {{employee._address}}</label>
        <br />
        <label>Your phone number : {{employee._phoneNumber}}</label>
        <br />
    </div>
    <br />


    <form [formGroup]="ExperienceForm" class="d-flex form-group justify-content-center align-items-center shadow">
        <div class="addExperience">
            <!--      WorkEx Details-->
            <br /><br /><br />
            <label for="employeeCompanyId">ID given by the employer</label>
            <input id="employeeCompanyId" type="text" formControlName="EmployeeCompanyId" class="m-2">
            <br />
            <label for="projectTitle">Project Title</label>
            <input id="projectTitle" type="text" formControlName="ProjectTitle" class="m-2">
            <br />
            <label for="designation">Designation</label>
            <input id="designation" type="text" formControlName="Designation" class="m-2">
            <br />
            <label for="salary">Salary</label>
            <input id="salary" type="number" formControlName="Salary" class="m-2">
            <br />
            <label for="startDate">Start Date</label>
            <input id="startDate" type="date" formControlName="StartDate" class="m-2">
            <br />
            <label for="endDate">End Date</label>
            <input id="endDate" type="date" formControlName="EndDate" class="m-2">
            <br />
            <label for="employerPublicKey">Employer Public Key</label>
            <input id="employerPublicKey" type="text" formControlName="EmployerPublicKey" class="m-2">
            <br />
            <label for="employeeComments">Employee Comments</label>
            <input id="employeeComments" type="text" formControlName="EmployeeComments" class="m-2">
            <br />
            <div class="d-flex form-group justify-content-center align-items-center">
                <button class="button rounded-pill btn btn-primary mb-2 mt-2" mat-raised-button (click)="openDialogEmployeeExperience()">
          Submit
        </button>

                <!-- <button class="button rounded-pill btn btn-primary mb-2" type="submit">Submit</button> -->
            </div>
        </div>
    </form>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  ">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="_expId">
            <th mat-header-cell *matHeaderCellDef> Serial No. </th>
            <td mat-cell *matCellDef="let element"> {{element._expId}} </td>
        </ng-container>



        <!-- Weight Column -->
        <ng-container matColumnDef="_employeePublicKey">
            <th mat-header-cell *matHeaderCellDef> Employee Public Key </th>
            <td mat-cell *matCellDef="let element"> {{element._employeePublicKey}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="_employeeId">
            <th mat-header-cell *matHeaderCellDef>Employee ID </th>
            <td mat-cell *matCellDef="let element"> {{element._employeeId}} </td>
        </ng-container>
        <ng-container matColumnDef="_projectTitle">
            <th mat-header-cell *matHeaderCellDef>Project Title</th>
            <td mat-cell *matCellDef="let element"> {{element._projectTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="_designation">
            <th mat-header-cell *matHeaderCellDef>Designation</th>
            <td mat-cell *matCellDef="let element"> {{element._designation}} </td>
        </ng-container>

        <ng-container matColumnDef="_salary">
            <th mat-header-cell *matHeaderCellDef>Salary </th>
            <td mat-cell *matCellDef="let element"> {{element._salary}} </td>
        </ng-container>



        <ng-container matColumnDef="_startDate">
            <th mat-header-cell *matHeaderCellDef>Start date </th>
            <td mat-cell *matCellDef="let element"> {{element._startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="_endDate">
            <th mat-header-cell *matHeaderCellDef>End Date </th>
            <td mat-cell *matCellDef="let element"> {{element._endDate}} </td>
        </ng-container>

        <ng-container matColumnDef="_employerPublicKey">
            <th mat-header-cell *matHeaderCellDef>Employer Public Key </th>
            <td mat-cell *matCellDef="let element"> {{element._employerPublicKey}} </td>
        </ng-container>
        <ng-container matColumnDef="_status">
            <th mat-header-cell *matHeaderCellDef>Status </th>
            <td mat-cell *matCellDef="let element"> {{element._status}} </td>
        </ng-container>

        <ng-container matColumnDef="_employerComments">
            <th mat-header-cell *matHeaderCellDef>Employer Comments </th>
            <td mat-cell *matCellDef="let element"> {{element._employerComments}} </td>
        </ng-container>

        <ng-container matColumnDef="_employeeComments">
            <th mat-header-cell *matHeaderCellDef>Employee Comments </th>
            <td mat-cell *matCellDef="let element"> {{element._employeeComments}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<!-- <div *ngIf="isEmployeeRegistered" style="margin:0 30px;">
    <h2 style="text-align: center;">Experiences</h2>
    <table>
      <tr>
        <th>S.no</th>
        <th>Employee Public Key</th>
        <th>Employer Public Key</th>
        <th>Employee Id</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Project Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let exp of allExperiences; index as i">
        <td>{{ i+1 }}</td>
        <td>{{ exp._employeePublicKey }}</td>
        <td>{{ exp._employerPublicKey }}</td>
        <td>{{ exp._employeeId }}</td>
        <td>{{ exp._designation }}</td>
        <td>{{ exp._salary }}</td>
        <td>{{ exp._projectTitle }}</td>
        <td>{{ exp._startDate }}</td>
        <td>{{ exp._endDate }}</td>
        <td>{{ exp._status }}</td>
      </tr>
    </table>
  </div> -->