<div class="jumbotron jumbotron-fluid  text-center">

  <div class="container">
    <h1 class="display-4">Employee Registration</h1>
    <p class="lead">Please enter your details as a employee.</p>
  </div>
</div>


<!-- <div class="header" color="">
  Welcome to Employee Portal!
</div>

<div *ngIf="!this.signer" class="connect-button">
  <label>You have not connected!</label>
</div>
<div *ngIf="this.signer" class="connect-button">
  <label>You have connected!</label>
  <br/>
</div> -->

<!--<div class="employee">-->
<!--  Employee Details = {{this.employerDetails}}-->
<!--</div>-->

<div *ngIf="!isEmployeeRegistered" class="forms pt-4">
  <form [formGroup]="EmployeeForm" (ngSubmit)="addEmployee()" class="d-flex form-group justify-content-center
    align-items-center shadow">
    <div class="addEmployee">
      <!--      Employee Details-->
      <label for="employeeName">Employee Name</label>
      <input id="employeeName" type="text" formControlName="EmployeeName" class="m-2">
      <br />
      <label for="employeeId">Employee SSN</label>
      <input id="employeeId" type="number" formControlName="EmployeeId" class="m-2">
      <br />
      <label for="employeeAddress">Employee Address</label>
      <input id="employeeAddress" type="text" formControlName="EmployeeAddress" class="m-2">
      <br />
      <label for="employeePhone">Employee Phone Number</label>
      <input id="employeePhone" type="text" formControlName="EmployeePhone" class="m-2">
      <br />
      <label for="employeePublicKey">Employee Public Key</label>
      <input id="employeePublicKey" type="text" formControlName="EmployeePublicKey" class="m-2">
      <br />
      <br />
      <div class="d-flex form-group justify-content-center align-items-center">
        <button class="button rounded-pill btn btn-primary mb-2" mat-raised-button (click)="openDialog()">
          Submit
        </button>

        <!-- <button class="button rounded-pill btn btn-primary mb-2" type="submit">Submit</button> -->
      </div>
    </div>
  </form>
</div>

<br />
<div *ngIf="isEmployeeRegistered" class="EmployerDetails">
  <label>You Name: {{employee._name}}</label>
  <br />
  <label>Your public key : {{employee._publicKey}}</label>
  <br />
  <label>Your Unique Id : {{employee._id}}</label>
  <br />
  <label>Your phone number : {{employee._phoneNumber}}</label>
  <br />
  <label>Your address : {{employee._address}}</label>
</div>
<br />

<div *ngIf="isEmployeeRegistered" class="forms">
  <form [formGroup]="ExperienceForm" (ngSubmit)="addExperienceDetails()">
    <div class="addExperience">
      <!--      WorkEx Details-->
      <br /><br /><br />
      <label for="employeeCompanyId">Id given by the employer</label>
      <input id="employeeCompanyId" type="text" formControlName="EmployeeCompanyId">
      <br />
      <label for="projectTitle">Project Title</label>
      <input id="projectTitle" type="text" formControlName="ProjectTitle">
      <br />
      <label for="designation">Designation</label>
      <input id="designation" type="text" formControlName="Designation">
      <br />
      <label for="salary">Salary</label>
      <input id="salary" type="number" formControlName="Salary">
      <br />
      <label for="startDate">Start Date</label>
      <input id="startDate" type="date" formControlName="StartDate">
      <br />
      <label for="endDate">End Date</label>
      <input id="endDate" type="date" formControlName="EndDate">
      <br />
      <label for="employerPublicKey">Employer Public Key</label>
      <input id="employerPublicKey" type="text" formControlName="EmployerPublicKey">
      <br />
      <label for="employeeComments">Comments</label>
      <input id="employeeComments" type="text" formControlName="EmployeeComments">
      <br />
      <button class="button" type="submit">Save</button>
    </div>
  </form>
</div>

<div *ngIf="isEmployeeRegistered" style="margin:0 30px;">
  <h2 style="text-align: center;">Experiences</h2>
  <table>
    <tr>
      <th>S.no</th>
      <th>Employee Public Key</th>
      <th>Employer Public Key</th>
      <th>Employee Id</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Project Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let exp of allExperiences; index as i">
      <td>{{ i+1 }}</td>
      <td>{{ exp._employeePublicKey }}</td>
      <td>{{ exp._employerPublicKey }}</td>
      <td>{{ exp._employeeId }}</td>
      <td>{{ exp._designation }}</td>
      <td>{{ exp._salary }}</td>
      <td>{{ exp._projectTitle }}</td>
      <td>{{ exp._startDate }}</td>
      <td>{{ exp._endDate }}</td>
      <td>{{ exp._status }}</td>
    </tr>
  </table>
</div>