<div class="header">
    <h2 mat-dialog-title>Confirm your details before submission</h2>

    <div *ngIf="displayDataType===displayDataTypes.EMPLOYER">
        <mat-dialog-content>
            Employer Public Key : {{displayData._publicKey}}
            <br> Employer Name : {{displayData._name}}
            <br> Employer Address : {{displayData._address}}
            <br> Employer Phone Number : {{displayData._phoneNumber}}
            <br> Employer URL : {{displayData._url}}

            <!-- Put all the employer registration details here -->
        </mat-dialog-content>
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button [mat-dialog-close]="false">No</button>
            <button mat-raised-button color='primary' [mat-dialog-close]="true" (click)="addEmployer()">Confirm and
                Submit</button>
        </div>
    </div>

    <div *ngIf="displayDataType===displayDataTypes.EMPLOYEE">
        <mat-dialog-content>
            Employee Public Key : {{displayData._publicKey}}
            <br> Employee SSN : {{displayData._id}}

            <br> Employee Name : {{displayData._name}}

            <br> Employee Address : {{displayData._address}}

            <br> Employee Phone Number : {{displayData._phoneNumber}}




            <!-- Put all the employer registration details here -->
        </mat-dialog-content>
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button [mat-dialog-close]="false">No</button>
            <button mat-raised-button color='primary' [mat-dialog-close]="true" (click)="addEmployee()">Confirm and
                Submit</button>
        </div>
    </div>

    <div *ngIf="displayDataType===displayDataTypes.EMPLOYEE_EXPERIENCE">
        <mat-dialog-content>
            Experience ID : {{displayData._employeeId}}
            <br> Experience Project Title : {{displayData._projectTitle}}
            <br> Experience Designation : {{displayData._designation}}
            <br> Experience Salary : {{displayData._salary}}
            <br> Experience Start Date : {{displayData._startDate}}
            <br> Experience End Date : {{displayData._endDate}}
            <br> Employer Public Key : {{displayData._employerPublicKey}}
            <br> Employee Comments : {{displayData._employeeComments}}

            <!-- Put all the employer registration details here -->
        </mat-dialog-content>
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button [mat-dialog-close]="false">No</button>
            <button mat-raised-button color='primary' [mat-dialog-close]="true"
                (click)="addEmployeeExperience()">Confirm and
                Submit</button>
        </div>
    </div>


    <!-- <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button [mat-dialog-close]="false">No</button>
        <button mat-raised-button color='primary' [mat-dialog-close]="true" (click)="addEmployer()">Confirm and
            Submit</button>
    </div> -->


</div>