<div class="header">
    <h2 mat-dialog-title>Confirm your details before submission</h2>


    <mat-dialog-content>
        Public Key : {{data._publicKey}}
        Unique ID : {{data._id}}
        Name : {{data._name}}
        Address : {{data._address}}
        Phone Number : {{data._phoneNumber}}
        URL : {{data._url}}

        <!-- Put all the employer registration details here -->
    </mat-dialog-content>


    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button [mat-dialog-close]="false">No</button>
        <button mat-raised-button color='primary' [mat-dialog-close]="true" (click)="addEmployer()">Confirm and
            Submit</button>
    </div>


</div>