<!-- <div *ngIf="!this.signer" class="connect-button ">
  <label>You have not connected!</label>
</div>
<div *ngIf="this.signer" class="connect-button">
  <label>You have connected!</label>
</div>
<br /> -->

<div *ngIf="!isEmployerRegistered" class="pt-4">
    <div class="jumbotron jumbotron-fluid  text-center">

        <div class="container">
            <h1 class="display-4">Employer Registration</h1>
            <p class="lead">Please enter your details as a potential employer.</p>
        </div>
    </div>
    <form [formGroup]="EmployerForm" class="d-flex form-group justify-content-center align-items-center shadow">
        <div class=" justify-content-center">
            <!--      Employer Details-->
            <label for="employerPublicKey" class="align-items-center">Employer Public Key</label>
            <input id="employerPublicKey" type="text" formControlName="EmployerPublicKey" class="m-2">
            <br />
            <label for="employerUniqueId">Employer Unique Id</label>
            <input id="employerUniqueId" type="number" formControlName="EmployerUniqueId" class="m-2">
            <br />
            <label for="employerName">Employer Name</label>
            <input id="employerName" type="text" formControlName="EmployerName" class="m-2">
            <br />
            <label for="employerAddress">Employer Address</label>
            <input id="employerAddress" type="text" formControlName="EmployerAddress" class="m-2">
            <br />
            <label for="employerPhone">Employer Phone Number</label>
            <input id="employerPhone" type="number" formControlName="EmployerPhone" class="m-2">
            <br />
            <label for="employerURL">Employer URL</label>
            <input id="employerURL" type="text" formControlName="EmployerURL" class="m-2">
            <br />
            <br />
            <div class="d-flex form-group justify-content-center align-items-center">
                <button class="button rounded-pill btn btn-primary mb-2" mat-raised-button (click)="openDialog()">
          Submit
        </button>

                <!-- <button class="button rounded-pill btn btn-primary mb-2" type="submit">Submit</button> -->
            </div>

        </div>
    </form>


</div>


<br />
<div *ngIf="isEmployerRegistered">

    <div class="jumbotron jumbotron-fluid  text-center">
        <div class="container">
            <h1 class="display-4">Employer Profile</h1>
            <p class="lead">Dashboard</p>
        </div>
    </div>
    <div class="align-items-center shadow align-content-center p-4">

        <label>Welcome, {{employer._name}}</label>
        <br>
        <label>Your public key : {{employer._publicKey}}</label>
        <br />
        <label>Your Unique Id : {{employer._id}}</label>
        <br />
        <label>Your phone number : {{employer._phoneNumber}}</label>
        <br />
        <label>Your address : {{employer._address}}</label>
        <br />
        <label>Your url : {{employer._url}}</label>
    </div>

    <br />
    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="Approved">
            <!-- <ng-template ngbPanelContent>
        <div *ngIf="isEmployerRegistered" style="margin:0 30px;">
          <h2 style="text-align: center;">Approved</h2>
          <table>
            <tr>
              <th>S.no</th>
              <th>Employee Public Key</th>
              <th>Employee Id</th>
              <th>Designation</th>
              <th>Salary</th>
              <th>Project Title</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
            <tr *ngFor="let exp of approvedExperiences; index as i">
              <td>{{ i+1 }}</td>
              <td>{{ exp._employeePublicKey }}</td>
              <td>{{ exp._employeeId }}</td>
              <td>{{ exp._designation }}</td>
              <td>{{ exp._salary }}</td>
              <td>{{ exp._projectTitle }}</td>
              <td>{{ exp._startDate }}</td>
              <td>{{ exp._endDate }}</td>
            </tr>
          </table>
        </div>
      </ng-template> -->
            <ng-template ngbPanelContent>

                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="60%">
                        <input matInput type="text" (keyup)="filterData($event, experienceType.APPROVED)" placeholder="Filter Approved Experiences">
                    </mat-form-field>
                </div>

                <table mat-table [dataSource]="approvedExperiencesDataSource" class="mat-elevation-z8" matSort>

                    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="_expId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No. </th>
                        <td mat-cell *matCellDef="let element"> {{element._expId}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="_employeePublicKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Public Key </th>
                        <td mat-cell *matCellDef="let element"> {{element._employeePublicKey}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="_employeeId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </th>
                        <td mat-cell *matCellDef="let element"> {{element._employeeId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_projectTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation </th>
                        <td mat-cell *matCellDef="let element"> {{element._projectTitle}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_designation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
                        <td mat-cell *matCellDef="let element"> {{element._designation}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_salary">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </th>
                        <td mat-cell *matCellDef="let element"> {{element._salary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start date </th>
                        <td mat-cell *matCellDef="let element"> {{element._startDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element._endDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employerPublicKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employer Public Key </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerPublicKey}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                        <td mat-cell *matCellDef="let element"> {{element._status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employerComments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>employer comments </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerComments}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employeeComments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>employee comments </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerComments}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Rejected">
            <ng-template ngbPanelContent>

                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="60%">
                        <input matInput type="text" (keyup)="filterData($event, experienceType.REJECTED)" placeholder="Filter Rejected Experiences">
                    </mat-form-field>
                </div>

                <table mat-table [dataSource]="rejectedExperiencesDataSource" class="mat-elevation-z8" matSort>

                    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="_expId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No. </th>
                        <td mat-cell *matCellDef="let element"> {{element._expId}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="_employeePublicKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Public Key </th>
                        <td mat-cell *matCellDef="let element"> {{element._employeePublicKey}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="_employeeId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </th>
                        <td mat-cell *matCellDef="let element"> {{element._employeeId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_projectTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation </th>
                        <td mat-cell *matCellDef="let element"> {{element._projectTitle}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_designation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
                        <td mat-cell *matCellDef="let element"> {{element._designation}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_salary">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </th>
                        <td mat-cell *matCellDef="let element"> {{element._salary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start date </th>
                        <td mat-cell *matCellDef="let element"> {{element._startDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element._endDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employerPublicKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employer Public Key </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerPublicKey}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                        <td mat-cell *matCellDef="let element"> {{element._status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employerComments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>employer comments </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerComments}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employeeComments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>employee comments </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerComments}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-3" title="Pending">
            <ng-template ngbPanelContent>

                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="60%">
                        <input matInput type="text" (keyup)="filterData($event, experienceType.PENDING)" placeholder="Filter Pending Experiences">
                    </mat-form-field>
                </div>

                <table mat-table [dataSource]="pendingExperiencesDataSource" class="mat-elevation-z8" matSort>

                    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="_expId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No. </th>
                        <td mat-cell *matCellDef="let element"> {{element._expId}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="_employeePublicKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Public Key </th>
                        <td mat-cell *matCellDef="let element"> {{element._employeePublicKey}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="_employeeId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </th>
                        <td mat-cell *matCellDef="let element"> {{element._employeeId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_projectTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation </th>
                        <td mat-cell *matCellDef="let element"> {{element._projectTitle}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_designation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
                        <td mat-cell *matCellDef="let element"> {{element._designation}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_salary">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee </th>
                        <td mat-cell *matCellDef="let element"> {{element._salary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start date </th>
                        <td mat-cell *matCellDef="let element"> {{element._startDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element._endDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employerPublicKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employer Public Key </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerPublicKey}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                        <td mat-cell *matCellDef="let element"> {{element._status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employerComments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>employer comments </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerComments}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_employeeComments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>employee comments </th>
                        <td mat-cell *matCellDef="let element"> {{element._employerComments}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<br />
<br />


<hr />

<!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Approved</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Rejected</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-3')">Pending</button> -->